/* all common css start */
* {
    padding: 0;
    margin: 0;
    outline: 0;

}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

body {
    background: #070824;
}

/* all common css end */

/* header part start */
.navbar-collapse {

	padding-left: 170px !important;
}
.nav-item {
    padding: 10px 30px !important;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    bottom: 0px !important;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.nav-link:hover {
    color: red;
}

.nav-link::before {
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: -3px;
    content: "";
    background: red;
    transition: .30s;
}

.nav-link:hover::before {
    width: 100%;
}




.link {
    padding: 0 10px;
}



.link .navvar{
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid bisque;
    color: white;
}

.navveer{
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid bisque;
    background: #93F2FF;
    color: black;
}
.navveer:hover{
    background: #2a2a30;
    color: white;
}



.box{
    width: 300px;
    height: 100px;
    margin-top: 100px;
}

/* bannerimgpart end *